<div class="items">
<strong>What is Tableau ?</strong>
    <p>- Read only data discovery Tool</p>
    <p>- Uses a drag and drop interface</p>
    <p>- Used to share data and insights</p>
    <hr>
    <strong>2 Types Of Tool :</strong>
    <p>* Developer Tools </p>
    <p>- Tableau Desktop ( Professional and Personal )</p>
    <p>- Tableau Public</p>
    <br>
    <p>* Sharing Tools</p>
    <p>- Tableau Server (Enterprise or Online )</p>
    <p>- Tableau Public</p>
    <p>- Tableau Reader</p>
</div>
<ul class="list">
  <a [routerLink]="['', { outlets: { maincontent: ['tableau', 'viewt'] } }]">View Tableau Work</a>
</ul>
