<ul class="list">
    <a [routerLink]="['/', { outlets: { navbar: ['data'], maincontent: [] } }]"
      >Data Collected</a
    >
    <a [routerLink]="['/', { outlets: { navbar: ['tableau'], maincontent: [] } }]"
      >Tableau</a
    >
    <a [routerLink]="['/', { outlets: { navbar: ['places'], maincontent: [] } }]"
      >Places</a
    >
    <a
      [routerLink]="['/', { outlets: { navbar: ['cuisines'], maincontent: [] } }]"
      >Cuisines</a
    >
    <a
      [routerLink]="[
        '/',
        { outlets: { navbar: ['question'], maincontent: [] } }
      ]"
      >Questionnaire</a
    >
  </ul>
  
