<div class="product">
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/e1.jpeg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Noodles</b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/e2.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Fried Rice</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/e3.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Chicken Lollipop</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/e4.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Manchuria</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/e5.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Momos</b></p>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/e6.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Chilli Chicken</b></p>
        </div>
    </div>
</div>

