<div class="product">
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/c1.jpeg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Butter Chicken</b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/c2.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Hara Bara Kabeb</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/c3.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Paratha</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/c4.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Roti- Dal</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/c5.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Butter Naan</b></p>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/c6.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Panner Kulcha</b></p>
        </div>
    </div>
</div>

