<div class="product">
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/a1.jpeg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Ice Creams</b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/a2.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Falooda</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/a3.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Kulfi</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/a4.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Cakes</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/a5.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Brownies</b></p>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/a6.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Pastry</b></p>
        </div>
    </div>
</div>
