<ul class="list">
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'desserts'] } }]">Desserts </a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'north'] } }]">North Indian </a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'south'] } }]">South Indian </a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'chinese'] } }]">Chinese </a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'biriyani'] } }]">Biriyani</a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'continental'] } }]">Continental </a>
    <a [routerLink]="['', { outlets: { maincontent: ['cuisines', 'drinks'] } }]">Drinks </a>
  </ul>
