<div class="container-fluid" style="height: 840px">
  <div class="row">
    <div
      class="col-sm-1"
      style="height: 100px; background-color:rgb(135, 113, 144)"
    >
      <app-logo></app-logo>
    </div>
    <div
      class="col-sm-11"
      style="height: 100px; background-color: rgb(135, 113, 144)"
    >
      <app-title></app-title>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm-12"
      style="height: 50px; background-color: rgb(135, 113, 144)"
    >
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm-3"
      style="height: 550px; background-color:rgb(170, 131, 160)" >
      <router-outlet name="navbar"></router-outlet>
    </div>
    <div
      class="col-sm-9"
      style="height: 550px; background-color:  rgb(172, 154, 179)"
    >
      <router-outlet name="maincontent"></router-outlet>
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-4"
      style="height: 140px; background-color: rgb(157, 118, 153)">
      <h4>Team Members :</h4>
      <h5>👧 Ruthvika Muchala</h5>
      <h5>👧 Anne Asritha</h5>
      <h5>👧 Sivane senthil</h5>
    </div>
    <div
      class="col-sm-4"
      style="height: 140px; background-color: rgb(157, 118, 153)">
      <h4>Team Members :</h4>
      <h5>👧 Diya Dinesh</h5>
      <h5>👦 Kishor Kumar</h5>
      <h5>👦 Keshav Krishna</h5>
    </div>
    <div
      class="col-sm-4"
      style="height: 140px; background-color: rgb(157, 118, 153)">
      <h4>Project Mentor :</h4>
      <h5>👩‍🦰 Prof.Santhiya</h5>
    </div>
  </div>
</div>