<div class="product">
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/d1.jpeg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Pongal </b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/d2.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Idly Sambar</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/d3.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Vadai</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/d4.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Parotta</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/d5.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Dosa</b></p>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/d6.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Poori</b></p>
        </div>
    </div>
</div>

