<p>
  ♠️ The data and the data set were obtained from multiple <i>swiggy customers</i>.<br>
  ♠️ The data is organised in a table format using google excel sheets.<br>
  ♠️ The data has specifications of individual users like duration of time that was required for a particular cuisine to be delivered.<br>
  ♠️ Taking the collected data into consideration lets visualise and analyse which cuisine is taking the most time to get delivered based on the region the order is got placed.<br>
  ♠️ Data visualization helps  in presenting billions of data points into meaningful insights. <br>
  ♠️ It is a very important tool for all the data scientists to learn and understand the data in more details. <br>
  ♠️ Visualization also helps business leaders to take important decisions for company growth and to move in the right direction. 



</p>
<ul class="list">
  <a [routerLink]="['', { outlets: { maincontent: ['data', 'view'] } }]">View Data Collected</a>
</ul>


