<div class="product">
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/f1.jpeg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Chicken 65 Biriyani</b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/f2.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Donne Biriyani</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/f3.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Chicken Dum Biriyani</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/f4.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Mandi Biriyani</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/f5.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Mutton Biriyani</b></p>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/f6.jpeg" alt=""/> 
            <!--Details-->
            <p><b>Prawn Biriyani</b></p>
        </div>
    </div>
</div>

